@import "tailwindcss";
@plugin "daisyui";



@media screen and (max-width:576px){
    *{
       overflow-x: hidden;
    }
    #nav {
    display: grid;
    grid-column: 1;
    text-align: center;
    }
    #nav-ul{
     display: grid;
    grid-column: 1;
    }

    .banner-m {
    flex-direction: column;
    width: 95%;
  }

  .banner-a, .banner-b {
    width: 100%;
    height: 180px;
  }

  .ticket-tems{
    flex-direction: column;
  }

  .ticket-data{
    flex-direction: column;
    width: 85%;
  }
  .task-a{
    text-align: center;
    align-items: center;
  }
  .footer{
    flex-direction: column;
  }
}
